.bubbleChartBlock {
  h1 {
    text-transform: uppercase;
    text-align: center;
    margin-left: $margin-left;
    font-size: $title;
    color: $third-color;
    font-family: $marvin-vision-bold;
  }
}