@import '../../App.scss';

.bubbleChartBlock {
  height: 100vh;
  margin-left: $margin-left;
  h1 {
    text-transform: uppercase;
    text-align: center;
    margin-left: $margin-left;
    font-size: $title;
    color: $third-color;
    font-family: $marvin-vision-bold;

    @include tablet {
      font-size: 40px;
    }

    @include mobile {
      margin-left: 0px;
      font-size: 30px;
      line-height: 36px;
    }
  }

  .wasteAmountBlock {
    background-color: #F3F8F9;
    position: relative;
    background-image: url("/data/rond.png");
    background-repeat: no-repeat;
    background-position: bottom left;

      .data-text {
        font-family: $montserrat-regular;
        font-size: 14px;
        fill: $third-color;
      }
      .data-name {
        font-family: $montserrat-bold;
        font-size: 16px;
      }
    
      .totalTons {
        background: linear-gradient(52.51deg, #FB8070 0%, #FFB097 100%);
        border-radius: 20px;
        position: absolute;
        left: 40px;
        bottom: 45px;
        text-align: left;

        p {
          color: #ffffff;
          font-family: $montserrat-bold;
          width: 90%;
          margin: auto;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          font-size: 20px;
        }
    }
  }

  @include mobile {
    margin-left: 0px;
    margin-top: 100px;
  }
}