@import "../../config/config.scss";

.bubbleChartBlock {
  margin-left: $margin-left;
  h1 {
    text-transform: uppercase;
    text-align: center;
    margin-left: $margin-left;
    font-size: $title;
    color: $third-color;
    font-family: $marvin-vision-bold;

    @include tablet {
      font-size: 40px;
    }

    @include mobile {
      margin-left: 0px;
      font-size: 30px;
      line-height: 36px;
    }
  }

  .wasteAmountBlock {
    height: 1100px;
    background-color: #F3F8F9;
    position: relative;
    overflow: hidden;
    background-image: url("/data/circle-segment.png");
    background-repeat: no-repeat;
    background-position: bottom left;

    .wasteAmount {
      .data-text {
        font-family: $montserrat-regular;
        font-size: 14px;
        fill: $third-color;
        text-anchor: middle;
      }
      .data-name {
        font-family: $montserrat-bold;
        font-size: 16px;
        @include mobile {
          font-size: 14px;
        }
      }
      @include tablet {
        width: 600px;
      }
      @include mobile {
        width: 350px;
      }
    }
    
    .totalTons {
      background: linear-gradient(52.51deg, #FB8070 0%, #FFB097 100%);
      border-radius: 20px;
      position: relative;
      left: 40px;
      // bottom: 45px;
      bottom: 155px;
      text-align: left;
      height: 100px;
      width: 230px;
      display: table;
      @include mobile {
        width: 205px;
        height: 80px;
        text-align: center;
        margin: auto;
        left: 0;
      }
      div {
        padding-left: 35px;
        vertical-align:middle;
        display: table-cell;
        @include mobile {
          padding-left: 0;
        }
        p {
          color: #ffffff;
          font-family: $montserrat-bold;
          font-size: 20px;
          line-height: 30px;
          @include mobile {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
      @include mobile {
        height: 540px;
        background-image: url("/data/circle-mobile.png");
        background-position: bottom center;
    }
  }

  @include mobile {
    margin-left: 0px;
    margin-top: 100px;
  }
}