.timeLineSet {
  margin-top: 150px;
  height: 100%;

  h2 {
    text-transform: uppercase;
    text-align: center;
    margin-left: $margin-left;
    font-size: $title;
    color: $third-color;
  }

  .timeLine {
    margin-left: $margin-left;
    overflow-y: hidden;
    /* overflow-x: auto; */
    height: 80%;
    position: relative;
    bottom: 0px;
    width: calc(100vw - 94px - 40px);
    /* transform: rotate(-90deg); */

    .vignette {
      width: 200px;
      height: 202px;
      background-color: #ffff;
      border-radius: 20px;
      margin: 0px 150px 0px 150px;

      p {
        font-size: $text;
        color: $third-color;
        font-weight: 600;
      }
    }

    svg {
      overflow: scroll;
      //transform: rotate(-90deg);

      rect, text {
        //transform: rotate(-180deg) translateX(-100%) translateY(-50%);
        margin-top: 50%;
      }
    }
  }
}