.timeLineSet {
  margin-top: 150px;
  height: 100%;

  h2 {
    text-transform: uppercase;
    text-align: center;
    margin-left: $margin-left;
    font-size: $title;
    color: $third-color;
    font-family: $marvin-vision-bold;
  }

  .timeLine {
    margin-left: $margin-left;
    overflow-y: hidden;
    /* overflow-x: auto; */
    height: 80%;
    position: relative;
    bottom: 0px;
    width: calc(100vw - 94px - 40px);
    cursor: grab;
    scroll-behavior: smooth;
    /* transform: rotate(-90deg); */

    div {
      background: url('/data/waveTimeLine.svg');
      background-position: -3px 70%;
      background-repeat: repeat-x;
      background-size: 1433px;
    }

    &.active {
      cursor: grabbing;
    }

    .timeScale {
      background: linear-gradient(52.51deg, #FB8070 0%, #FFB097 100%);
      border-radius: 20px;
      position: absolute;
      left: 40px;
      bottom: 45px;

      p {
        color: #ffffff;
        font-family: Montserrat;
        font-weight: bold;
        width: 90%;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
      }
    }

    .vignette {
      z-index: 2;
      width: 230px;
      height: 232px;
      background-color: #ffff;
      border-radius: 20px;
      margin: 0px 64px 0px 64px;
      //margin: 0px 120px 0px 120px;
      -webkit-box-shadow: 0px 48px 36px -50px rgba(0,0,0,0.8);
      -moz-box-shadow: 0px 48px 36px -50px rgba(0,0,0,0.8);
      box-shadow: 0px 40px 36px -50px rgba(0,0,0,0.8);

      &:first-child {
        margin-left: 247px;
        //margin-left: 130px;
      }

      p {
        font-size: $text;
        color: $third-color;
        font-weight: 600;
        text-align: left;
        margin: 20px 28px 20px 28px;
      }

      .vignetteTime {
        font-size: 16px;
        color: #6A6D73;

        &::before {
          //content: url('/data/clock.png');
          vertical-align: middle;
          margin-right: 15px;
        }
      }

      .trash {
        margin: 20px 28px 20px 28px;
        display: flex;
        align-items: center;

        div {
          height: 24px;
          width: 24px;
          border-radius: 50%;
        }

        .Yellow {
          fill: $trash-yellow;
        }

        .Brown {
          fill: $trash-brown;
        }

        .Green {
          fill: $trash-green;
        }

        &::before {
         // content: url('/data/garbage.png');
          vertical-align: middle;
          margin-right: 15px;
        }
        
      }
    }

    .line {
      position: absolute;
      top: 60%;
      //top: 57%;
      left: 0px;
      z-index: 0;
      width: 100%;

      // path {
      //   transform: translateX(160px)
      // }
    }

    .circle.opacity {
      opacity: 0.2;
    }

    .circle {
      position: absolute;
      bottom: -20px;
    }

    .triangle {
      position: absolute;
      //left: 200px;
      //top: 57%;
      display: flex;
      z-index: 2;

      & svg:nth-child(even) {
        position: relative;
        top: -65px;
      }

      svg:last-child {
        width: 29px;
      }
    }

    .circleLine {
      position: absolute;
      left: 260px;
      //left: 145px;
      //transform: translateX(-50%);
      //bottom: -33%;
      -webkit-filter: drop-shadow( 0px 4px 5px rgba(158, 158, 158, 0.75));
      filter: drop-shadow( 0px 4px 5px rgba(158, 158, 158, 0.75));
    }

    /* svg {
      overflow: scroll;
      //transform: rotate(-90deg);

      rect, text {
        //transform: rotate(-180deg) translateX(-100%) translateY(-50%);
        margin-top: 50%;
      }
    } */
  }
}
