.endPart {
  height: 70vh;

  .endPartContent {
    position: relative;
    width: 40%;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;

    h2 {
      margin-bottom: 40px;
      font-family: $marvin-vision-bold;
      color: $third-color;
      font-size: $title;
      margin-top: 0px;
    }
  
    .secondaryButton {
      text-align: center;
      width: 100%;
      bottom: -40%;
    }
  } 
} 