.textImage {
  display: flex;
  position: relative;
  width: 100%;

  .backgroundDots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    top: -40%;
  }

  h2 {
    top: 12%;
    font-size: $title;
    position: absolute;
    width: 35vw;
    text-transform: uppercase;
    color: $third-color;
    font-family: $marvin-vision-bold;

    strong {
      color: $fourth-color;
    }
  }

  p {
    width: 35%;
    margin: 0px;
    text-align: initial;
    font-family: $montserrat-medium;
    color: #6A6D73;
    align-self: flex-end;
    font-size: $text;

    strong {
      color: $third-color;
    }
  }
}

.textImage.right {
  margin: auto;
  flex-direction: row-reverse;
  top: 50%;
  transform: translateY(-50%);

  h2 {
    left: 15%;
    text-align: right;
  }

  p {
    margin-right: 20px;
    text-align: right;
  }

  .secondaryButton {
    right: calc(50vw + 22px);
  }
}

.textImage.left {
  top: -25%;
  transform: translateY(25%);

  h2 {
    right: 15%;
    text-align: left;
  }

  p {
    margin-left: 20px;
    text-align: left;
  }

  .secondaryButton {
    left: calc(50vw + 22px);
  }
}
