.textImage {
  width: 80vw;
  margin: auto;
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  p {
    width: 50%;
    text-align: initial;
    font-family: 'Montserrat';
    color: #6A6D73;
  }
}

.textImage.right {
  margin: auto;
  flex-direction: row-reverse;

  p {
    margin: auto;
    margin-left: 0px;
  }
}

.textImage.left {

  p {
    margin: auto;
    margin-right: 0px;
  }
}