.home-logo {
  .title {
    text-transform: uppercase;
    font-family: $marvin-vision-medium;
    color: $third-color;
    letter-spacing: 0.1em;
    font-size:30px;
  }
}

.menu-logo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  .leafSymbol {
    height: 24px;
    width: 24px;
    z-index: 1;
  }
  .title {
    text-transform: uppercase;
    font-family: $marvin-vision-medium;
    color: $third-color;
    letter-spacing: 0.1em;
    font-size:20px;
    transform: rotate(-90deg);
    width: 240px;
    margin: 150px 0;
  }
  .logo-jo {
    transform: rotate(-90deg);
    height: 24px;
  }
}