@import '../../App.scss';

.button-container {
  margin: 28px auto auto;
  width: 250px;
  height: 45px;
  border-radius: 50px;
  background: $primary-color;
  text-align: center;
  .button {
    margin: auto;
    position: relative;
    top: 25%;
    .text {
      font-family: $montserrat-semibold;
      font-size: 16px;
      font-weight: 600;
      color: white;
    }
  }
}