.primaryButton {
  align-items: center;

  .button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #C4C4C4;
    text-align: center;

    img {
      margin-top: 50%;
      transform: translateY(-50%);
    }
  }

  p {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
