//Margin
$margin-left: 94px;

//Colors
$primary-color: #29E898;
$secondary-color: #55B297;
$third-color: #005258;
$fourth-color: #FB8070;

//trash color
$trash-yellow: #FFCF73;
$trash-green: #55B297;
$trash-brown: #C7A27F;

//Fonts
$marvin-vision-bold: 'Marvin Visions Bold';
$marvin-vision-medium: 'Marvin Visions Medium';
$marvin-vision-regular: 'Marvin Visions Regular';
$marvin-vision-light: 'Marvin Visions Light';
$montserrat-bold: 'Montserrat Bold';
$montserrat-semibold: 'Montserrat SemiBold';
$montserrat-medium: 'Montserrat Medium';
$montserrat-regular: 'Montserrat Regular';

$bigTitle: 80px;
$title: 50px;
$text: 20px;

//media

@mixin mobile() { @media screen and (max-width:767px) { @content; } } // @include mobile { }
@mixin tablet() { @media screen and (max-width:1024px) { @content; } } // @include tablet { }