.treeMapSet {
  //margin-top: 150px;
  height: 100%;

  h2 {
    text-transform: uppercase;
    text-align: center;
    margin-left: $margin-left;
    font-size: $title;
    color: $third-color;
    font-family: $marvin-vision-bold;
  }

  .treeMap {
    position: relative;
    overflow: hidden;

    svg {
      margin-left: 92px;
      background-color: #F3F8F9;
      background-image: url("/data/rond.png");
      background-repeat: no-repeat;
      background-position: bottom left;

      .vignette {
        border-radius: 20px;
        margin: 0px 64px 0px 64px;
        //margin: 0px 120px 0px 120px;
        -webkit-box-shadow: 0px 48px 36px -50px rgba(0,0,0,0.8);
        -moz-box-shadow: 0px 48px 36px -50px rgba(0,0,0,0.8);
        box-shadow: 0px 40px 36px -50px rgba(0,0,0,0.8);
      }

      p {
        text-align: left;
        margin: 14px 13px 0px 13px;

        &:last-of-type {
          margin: 4px 13px 4px 13px;
        }
      }

      .interet {
        border-radius: 50%;
        background-color: #FB8070;
        width: 32px;
        height: 32px;
        margin: auto;
        position: relative;
        top: -20px;
        box-shadow: 0px 4px 4px rgba(251, 128, 112, 0.5);
        -webkit-box-shadow: 0px 4px 4px rgba(251, 128, 112, 0.5);
        -moz-box-shadow: 0px 4px 4px rgba(251, 128, 112, 0.5);

        p {
          color: #ffffff;
          font-size: 14px;
          justify-content: center;
          display: inline-block;
          margin: auto;
          vertical-align: sub;
        }
      }
    }

    .circle.opacity {
      opacity: 0.2;
    }

    .circle {
      position: absolute;
      bottom: -20px;
      left: 0px;
      background-color: unset;
    }

    .littleCircle {
      bottom: 0px;
    }
  }
}