@import "../../config/config.scss";

.treeMapSet {
  height: 100%;

  h2 {
    text-transform: uppercase;
    text-align: center;
    margin-left: $margin-left;
    font-size: $title;
    color: $third-color;
    font-family: $marvin-vision-bold;

    @include tablet {
      font-size: 40px;
    }

    @include mobile {
      margin-left: 0px;
      font-size: 30px;
      line-height: 36px;
    }
  }

  .treeMap {
    position: relative;
    overflow: hidden;

    svg {
      margin-left: 92px;
      background-color: #F3F8F9;
      background-image: url("/data/rond.png");
      background-repeat: no-repeat;
      background-position: bottom left;

      .vignette {
        border-radius: 20px;
        margin: 0px 64px 0px 64px;
        //margin: 0px 120px 0px 120px;
        -webkit-box-shadow: 0px 48px 36px -50px rgba(0,0,0,0.8);
        -moz-box-shadow: 0px 48px 36px -50px rgba(0,0,0,0.8);
        box-shadow: 0px 40px 36px -50px rgba(0,0,0,0.8);
        -o-box-shadow: 0px 40px 36px -50px rgba(0,0,0,0.8);
        cursor: pointer;

       .vignetteContainer {
         width: 100%;
         height: 100%;
         background-color: #ffffff;
         position: absolute;
       }
      }

      p {
        text-align: left;
        margin: 14px 13px 0px 13px;

        &:last-of-type {
          margin: 4px 13px 4px 13px;
        }
      }

      .place {
        color: #005258;
        font-size: 15px;
        font-weight: 600px;
      }

      .sport {
        color: #6A6D73;
        font-size: 15px;
      }

      .image {
        margin: auto;
        width: 90%;
        border-radius: 5px;
        background: #C4C4C4;
        object-fit: cover;
      }

      .interet {
        border-radius: 50%;
        background-color: #FB8070;
        width: 32px;
        height: 32px;
        margin: auto;
        position: relative;
        top: -20px;
        box-shadow: 0px 4px 4px rgba(251, 128, 112, 0.5);
        -webkit-box-shadow: 0px 4px 4px rgba(251, 128, 112, 0.5);
        -moz-box-shadow: 0px 4px 4px rgba(251, 128, 112, 0.5);

        p {
          color: #ffffff;
          font-size: 14px;
          justify-content: center;
          display: inline-block;
          margin: auto;
          vertical-align: sub;
        }
      }
    }

    .vignetteMonumentContainer {
      background-color: #F3F8F9;
      background-image: url("/data/rond.png");
      background-repeat: no-repeat;
      background-position: bottom left;
      display: none;
      width: calc(100% - 92px);
      height: 100vh;
      top: 0px;
      margin-left: 92px;

      .zoomMonument {
        display: none;
        width: 90%;
        height: 70%;
        margin: auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      .buttonBack {
        position: absolute;
        left: 0px;
        top: -60px;
        display: flex;
        cursor: pointer;

        img {
          transform: rotate(180deg);
        }

        p {
          font-size: 16px;
          color: #005258;
          margin-left: 30px;
        }
      }

      .buttonVignette {
        border: none;
        font-size: 20px;
        color: #005258;
        border-radius: 10px;
        width: 168.5px;
        height: 55px;
        cursor: pointer;
        margin: 0px 5px 0px 5px;
        transition: all 0.2s ease-out;
        background-color: #F3F8F9;;

        &.active {
          color: #FFFFFF;
          background-color: #FB8070;
        }

        &:focus {
          outline:0
        }
      }

      .imageZoom {
        text-align: left;
        width: 35%;

        h3 {
          color: #005258;
          font-size: 30px;
          margin: 0px;
        }

        h4 {
          color: #6A6D73;
          font-size: 14px;
        }

        img {
          border-radius: 5px;
          object-fit: contain;
          width: 100%;
        }
      }

      .contentVignette {
        overflow: scroll;
        width: 65%;
        padding: 15px;

        .imageTrilib {
          height: 96px;
        }

        .imageTrimobile {
          display: none;
          height: 96px;
        }

        a:hover {
          font-weight: bold;
        }

        .vignetteTrimobiles {
          display: none;
        }

        ul {
          line-height: 160%;

          li {
            text-align: left;
            margin-top: 5px;

            a {
              text-decoration: none;
              font-size: 16px;
              color: #005258;
            }
          }
        }
      }

      .buttonContainer {
        margin-bottom: 50px;

        p {
          color: #6A6D73;
          font-size: 14px;
        }

        .textTrimobile {
          display: none;
        }
      }
    }

    .circle.opacity {
      opacity: 0.2;
    }

    .circle {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: unset;
    }

    .littleCircle {
      bottom: 0px;
    }
  }
}