@import '../../App.scss';

nav {
  position: fixed;
  height: calc(100vh - 40px);
  width: 92px;
  top: 20px;
  z-index: 1;
  border-right: 2px solid #c4c4c4;
  border-radius: 10px 0 0 10px;
  background-color: #ffffff;

  @include mobile {
    position: sticky;
    flex-direction: row-reverse;
    height: unset;
    width: calc(100vw - 20px);
    border-radius: 10px 10px 0 0px;
    display: flex;
    align-items: center;
    border-right: unset;
    top: 0px;
  }
}
