.step {
  text-align: left;
  .circle {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: $fourth-color;
    margin-right: 20px;
  }
  .step-text {
    display: inline-block;
    font-family: $montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    color: $third-color;
    text-transform: uppercase;
  }
}