@import '../../config/config.scss';

.leaderboard {
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  display: block;
  margin-left: $margin-left;
  margin: auto;
  margin-top: 50px;
  position: relative;
  padding-top: 90px;
  margin-top: 140px;

  img {
    height: 40px;
    align-self: center;
    vertical-align: middle;
  }
  
  @include tablet {
    width: 88%;
  }

  @include mobile {
    width: 85%;
  }

  .info-block {
    position: absolute;
    left: 0;
    top: -65px;
    width: 335px;
    height: auto;
    float: none;
    right: 0;
    margin: auto;
    box-shadow: 0px 6px 40px rgba(190, 112, 101, 0.9);
    -webkit-box-shadow: 0px 6px 40px rgba(190, 112, 101, 0.9);

    @include tablet {
      transform: initial;
    }

    .info-description {
      font-family: $montserrat-semibold;
      font-size: 16px;
    }

    .info-subtitle {
      font-family: $marvin-vision-bold;
      font-size: 30px;
      line-height: 26px;
      letter-spacing: 0.05em;

      @include mobile {
        font-size: 24px;
      }
    }

    @include mobile {
      width: 70%;
    }
  }

  .country {
    display: flex;

    @include tablet {
      span {
        display: none;
      }
    }
  }

  #legend {
    background-color: rgba(204, 204, 204, 0.3);
    height: 80px;
    padding: 0 3% 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-family: $marvin-vision-bold;
      color: $third-color;
      font-size: 22px;

      @include mobile {
        font-size: 16px;
      }
    }
  }  

  .country-list {
    ul li {
      list-style: none;
      height: 80px;
      padding: 0 3% 0 3%;
      display: flex;
      overflow: hidden;

      span {
        line-height: 80px;
        color: $third-color;
        font-size: 20px;
        font-family: $montserrat-regular;
        text-align: left;

        strong {
          font-family: $montserrat-bold;
        }
      }

      div {
        width: 37%;

        @include tablet {
          width: 30%;
        }
      }

      .country-ranking {
        min-width: 40px;
        margin-right: 12%;
        text-align: center;

        @include tablet {
          margin-right: 19%;
        }

        @include mobile {
          margin-right: 15%;
        }
      }

      .country-name {
        font-family: $montserrat-semibold;
        margin-left: 3%;
      }

      .country-score {
        position: absolute;
        right: 5%;

        @include tablet {
          span {
            display: none;
          }
        }
      }

      .person-score {
        margin-right: 5%;
         min-width: 20%;

         @include tablet {
          span {
            display: none;
          }
        }
      }

      &:nth-child(odd) {
        background: rgba(243, 248, 249, 0.4);
      }

      &:nth-child(even) {
        background: #fff;
      }
    }
  }

  @include mobile {
    padding-top: 130px
  }
}
