/* // Media Queries// */

@mixin tablet {
  @media (max-width: 1024px) {
      @content;
  }
}

/* // Variables // */

//Margin

$margin-left: 94px;

//Colors
$primary-color: #29E898;
$secondary-color: #55B297;
$third-color: #005258;
$fourth-color: #FB8070;

//Fonts
$marvin-vision-bold: 'Marvin Visions Bold';
$marvin-vision-medium: 'Marvin Visions Medium';
$marvin-vision-regular: 'Marvin Visions Regular';
$marvin-vision-light: 'Marvin Visions Light';
$montserrat: 'Montserrat', sans-serif;

$bigTitle: 80px;
$title: 50px;
$text: 20px;

// scss Atomes

@import './atoms/Visual/styles.scss';
@import './atoms/Button/button.scss';
@import './atoms/Logo/logo.scss';
@import './atoms/Menu/Menu.scss';
@import './atoms/Step/Step.scss';
@import './atoms/SecondaryButton/secondaryButton.scss';

//scss Molécules

@import './molecules/Navbar/Navbar.scss';
@import './molecules/EndPart/styles.scss';
@import './molecules/TextImage/styles.scss';
@import './molecules/IntroBlock/IntroBlock.scss';
@import './molecules/TimeLineSet/styles.scss';

//scss Pages

@import './molecules//InfoBlock/InfoBlock.scss';

@font-face {
  font-family: 'Marvin Visions Bold';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/MarvinVisions/MarvinVisionsSmall-Bold.ttf') format('woff');
}
@font-face {
  font-family: 'Marvin Visions Medium';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/MarvinVisions/MarvinVisionsSmall-Medium.ttf') format('woff');
}
@font-face {
  font-family: 'Marvin Visions Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/MarvinVisions/MarvinVisionsSmall-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Marvin Visions Light';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/MarvinVisions/MarvinVisionsSmall-Light.ttf') format('woff');
}
@font-face {
  font-family:  'Montserrat', sans-serif;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
}

body {
  background: linear-gradient(61.23deg, $primary-color 0%, $secondary-color 100%);
  padding: 20px;
  .App {
    text-align: center;
    border-radius: 10px;
    background-color: white;

    .App-logo {
      height: 40vmin;
    }

    .App-header {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }

    .App-link {
      color: #09d3ac;
    }

    .home {
      display: flex;
      flex-direction: column;
      height: 95vh;
      .home-container {
        margin: auto;
        .intro-text {
          font-family: $montserrat;
          font-size: 14px;
          font-weight: normal;
          width: 470px;
          margin: 40px auto auto;
          color: #6A6D73;
        }
      }
    }

    .visualText, .intro {
      height: 100vh;

    }

    .visualText {
      margin-left: $margin-left;
      margin-right: $margin-left;
    }

    .dataVizTimeLine {
      z-index: 0;
      height: 100vh;
    }
  }
}