// Variables

//Colors
$primary-color: #29E898;
$secondary-color: #55B297;
$third-color: #005258;

//Fonts
$marvin-vision-bold: 'Marvin Visions Bold';
$marvin-vision-medium: 'Marvin Visions Medium';
$marvin-vision-regular: 'Marvin Visions Regular';
$marvin-vision-light: 'Marvin Visions Light';

@import './atoms/Button/button.scss';
@import './atoms/Logo/logo.scss';

@font-face {
  font-family: 'Marvin Visions Bold';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/MarvinVisions/MarvinVisionsSmall-Bold.ttf') format('woff');
}
@font-face {
  font-family: 'Marvin Visions Medium';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/MarvinVisions/MarvinVisionsSmall-Medium.ttf') format('woff');
}
@font-face {
  font-family: 'Marvin Visions Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/MarvinVisions/MarvinVisionsSmall-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Marvin Visions Light';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/MarvinVisions/MarvinVisionsSmall-Light.ttf') format('woff');
}

.App {
  text-align: center;

  .App-logo {
    height: 40vmin;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #09d3ac;
  }

  .intro-text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    width: 470px;
    margin: 40px auto auto;
    color: #6A6D73;
  }

}