.introBlock {
  margin-left: 92px;
  
  .intro-image {
    height: 380px;
    img {
      width: 100vw;
      max-width: 100%;
      max-height: 100%;
      border-radius: 0 10px 0 0;
    }
  }
  .title-block {
    margin: 50px 0 0 15%;
    position: relative;
    .title {
      width: 650px;
      margin-right: 100px;
      font-family: $marvin-vision-bold;
      color: $third-color;
      text-transform: uppercase;
      font-size: 80px;
      line-height: 96px;
      letter-spacing: 0.1em;
      margin: 0;
      z-index: 1;
    }
  }
}