@import '../../App.scss';

.info-block {
  width: 270px;
  height: 270px;
  background: linear-gradient(73.27deg, $fourth-color 0%, #FFB097 100%);
  border-radius: 20px;
  padding: 30px;
  float: right;
  position: absolute;
  top: -260px;
  right: 40px;
  
  .text {
    font-family: $montserrat-bold;
    color: white;
    text-align: left;
  }
  .info-title, .info-subtitle {
    text-transform: uppercase;
  }
  .info-title {
    font-size: 50px;
    margin: 0;

    @include tablet {
      font-size: 45px;
    }

    @include  mobile {
      font-size: 40px;
      line-height: 49px;
    }
  }
  .info-subtitle {
    font-size: 30px;
    margin: 0 0 10px;

    @include tablet {
      font-size: 25px;
    }

    @include  mobile {
      font-size: 24px;
      line-height: 29px;
    }
  }
  .info-description {
    font-size: 20px;
    line-height: 30px;

    @include  mobile {
      font-size: 16px;
      line-height: 26px;
    }
  }

  @include tablet {
    top: unset;
    position: relative;
    left: calc(100% - 40px);
    transform: translateX(-100%);
    float: unset;
  }

  @include mobile {
    margin: auto;
    position: initial;
    float: unset;
    height: auto;
    width: auto;
    transform: unset;
  }
}