.info-block {
  width: 270px;
  height: 270px;
  background: linear-gradient(73.27deg, $fourth-color 0%, #FFB097 100%);
  border-radius: 20px;
  padding: 30px;
  float: right;
  position: relative;
  top: -400px;
  right: 40px;
  .text {
    font-family: $montserrat-bold;
    color: white;
    text-align: left;
  }
  .info-title, .info-subtitle {
    text-transform: uppercase;
  }
  .info-title {
    font-size: 50px;
    margin: 0;
  }
  .info-subtitle {
    font-size: 30px;
    margin: 0 0 10px;
  }
  .info-description {
    font-size: 20px;
    line-height: 30px;
  }
}