.menu {
  .section {
    top: 0;
    bottom: 0;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    background-color: $fourth-color;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    .list {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
      // padding-left: 50px;
      .anchor {
        padding-bottom: 7px;
        color: $third-color;
        text-decoration: none;
        font-size: 30px;
        position: relative;
        font-weight: 500;
        &:before {
          border-radius: 3px;
          content: "";
          position: absolute;
          bottom: 0;
          background-color: black;
          left: 0;
          height: 3px;
          z-index: 1;
          width: 50%;
          -webkit-transition: transform 0.2s ease-in-out;
          -o-transition: transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          background-color: $fourth-color;
          left: 0;
          right: 0;
          height: 3px;
          border-radius: 3px;
        }
        &:hover:before {
          transform: translateX(100%);
        }
      }
    }
  }

  input {
    display: none;
    &:checked {
      .section {
        transform: translateX(0%);
      }
      ~ label {
        .top {
          transform: translateY(0px) rotateZ(45deg);
        }
        .middle {
          width: 0;
        }
        .bottom {
          transform: translateY(-15px) rotateZ(-45deg);
        }
      }
    }
  }

  .middle {
    margin: 0 auto;
  }

  label {
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 40px auto auto;
    z-index: 3;
    .bar {
      display: block;
      background-color: $third-color;
      width: 30px;
      height: 3px;
      border-radius: 5px;
      margin: 5px auto;
      transition: background-color 0.4s ease-in, transform 0.4s ease-in,
      width 0.4s ease-in;
    }
  }

}
