@import '../../App.scss';

.menu {
  .section {
    top: 0;
    bottom: 0;
    position: absolute;
    width: 91.9vw;
    height: 100%;
    left: $margin-left;
    border-radius: 0 10px 10px 0;
    background-color: white;
    transform: translateX(-100%);
    // transition: transform 0.4s ease-in-out;
    visibility: hidden;
    z-index: 1;
    .list {
      list-style: none;
      padding: 0;
      margin: 130px 0 0 125px;
      text-align: left;
      li {
        margin: 135px 0;
        &:first-child, &:last-child {
          margin: 0;
        }
        .step {
        display: inline-block;
        margin-right: 45px;
        }
        .anchor {
          padding-bottom: 7px;
          color: $third-color;
          text-decoration: none;
          font-size: 28px;
          position: relative;
          font-family: $montserrat-bold;
          display: inline-block;
          text-transform: uppercase;
        }
      }
    }
  }

  input {
    display: none;
    &:checked {
      ~ label {
        transform: rotate(0);
        .top {
          transform: translateY(6px) rotate(45deg);
        }
        .middle {
          width: 0;
        }
        .bottom {
          transform: translateY(-16px) rotate(-45deg);
        }
      }
      ~ aside .section {
        transform: translateX(0%);
        left: $margin-left;
        visibility: visible;
      }
    }
  }

  .middle {
    margin: 0 auto;
  }

  label {
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 40px auto auto;
    transition: transform 0.4s ease;
    // z-index: 3;
    &:hover {
      transform: rotate(90deg);
    }
    .bar {
      display: block;
      background-color: $third-color;
      width: 30px;
      height: 3px;
      margin: 8px auto;
      transition: transform 0.4s ease-in,
      width 0.4s ease-in;
    }
  }

}